.cell {
	width: 50px;
	height: 50px;

	border: 2px solid black;
	text-align: center;
}

#ArrangeMeTable {
    width: 50%;
    height: 50%;

	margin-left:auto;
    margin-right:auto;
}

#ResetButton {
	width: 10%;

	display: block;
	margin-top: 10px;
	margin-left:auto;
    margin-right:auto;
}